name: Deploy

on:
  push:
    branches: [ "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: TG_BOT_WB_TEST
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Build jar by Gradle
      run: ./gradlew clean bootJar

    - name: Build the Docker image
      run: docker build -t ${{ vars.DOCKER_IMAGE_NAME }}:latest .

    - name: Save Docker image as file
      run: docker save ${{ vars.DOCKER_IMAGE_NAME }}:latest -o wb_bot.tar

    - name: Upload bot via SCP
      uses: appleboy/scp-action@v1.0.0
      with:
        host: '${{ secrets.SERVER_HOST }}'
        username: '${{ secrets.SERVER_USER }}'
        key: '${{ secrets.SERVER_SSH_KEY }}'
        source: "./wb_bot.tar"
        target: ${{ vars.DOCKER_COMPOSE_PATH }}/images

    - name: Upload docker-compose.yml via SCP
      uses: appleboy/scp-action@v1.0.0
      with:
        host: '${{ secrets.SERVER_HOST }}'
        username: '${{ secrets.SERVER_USER }}'
        key: ${{ secrets.SERVER_SSH_KEY }}
        source: "./deploy/docker-compose.yml"
        target: '${{ vars.DOCKER_COMPOSE_PATH }}'

    - name: Run remote command via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: '${{ secrets.SERVER_HOST }}'
        username: '${{ secrets.SERVER_USER }}'
        key: '${{ secrets.SERVER_SSH_KEY }}'
        script: |
          echo ОСТАНАВЛИВАЕМ СЕРВИС
          docker-compose -f ${{ vars.DOCKER_COMPOSE_PATH }}/docker-compose.yml down

          echo УДАЛЯЕМ docker-compose.yml
          rm ${{ vars.DOCKER_COMPOSE_PATH }}/docker-compose.yml

          echo ПЕРЕМЕЩАЕМ НОВЫЙ docker-compose.yml В КОРНЕВУЮ ПАПКУ
          mv ${{ vars.DOCKER_COMPOSE_PATH }}/deploy/docker-compose.yml ${{ vars.DOCKER_COMPOSE_PATH }}

          echo УДАЛЯЕМ ПАПКУ
          rmdir ${{ vars.DOCKER_COMPOSE_PATH }}/deploy

          echo УДАЛЯЕМ СТАРЫЙ ОБРАЗ
          docker rmi $(docker images "${{ vars.TELEGRAM_NAME }}")

          echo ЗАГРУЖАЕМ НОВЫЙ ОБРАЗ
          docker load -i ${{ vars.DOCKER_COMPOSE_PATH }}/images/wb_bot.tar

          echo УДАЛЯЕМ ОБРАЗЫ
          rm ${{ vars.DOCKER_COMPOSE_PATH }}/images/*

          echo ЗАПУСКАЕМ СЕРВИС
          TELEGRAM_TOKEN='${{ secrets.TELEGRAM_TOKEN }}' TELEGRAM_NAME='${{ vars.TELEGRAM_NAME }}' PG_BD='${{ secrets.PG_BD }}' PG_USER='${{ secrets.PG_USER }}' PG_PASSWORD='${{ secrets.PG_PASSWORD }}' docker-compose -f ${{ vars.DOCKER_COMPOSE_PATH }}/docker-compose.yml up -d

          echo "ПРОВЕРЯЕМ ЛОГИ С ИНТЕРВАЛОМ В 15 сек ЕСЛИ УСПЕХА НЕТ В ТЕЧЕНИИ 1 минуты КИДАЕМ ОШИБКУ"
          i=0
          while [[ $i -le 3 ]]; do
          RESULT=$(docker logs '${{ vars.TELEGRAM_NAME }}')
          echo "${RESULT}"
          if echo "${RESULT}" | grep -q "THE BOT HAS STARTED"; then
          echo "❤️❤️ВСЕ ПРОШЛО УСПЕШНО❤️❤️"
          exit 0
          else
          echo "ОЖИДАЕМ 15 сек"
          sleep 15
          i=$(($i+1))
          fi
          done
